<!DOCTYPE html>
<html>
<head>

  <title>RESTful App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
   <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</head>
<body>

<%= yield %>

</body>
</html>