body { 
    background-image: url('http://self-inspiration.com/bundles/selfinspiration/article_pictures/71.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1200px;
    background-blend-mode: lighten;
}

h1 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font: bold;
        color: white; 
        text-shadow: 2px 2px 1px #000,
                     -2px -2px 1px #000,
                     -2px 2px 1px #000,
                      2px -2px 1px #000;
     
}


label, h3, p {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
        color: white;  
        text-shadow: 2px 2px 1px #000,
                     -2px -2px 1px #000,
                     -2px 2px 1px #000,
                      2px -2px 1px #000;
    
}

h2 {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
      color: white;
      text-shadow: 2px 2px 1px #000,
                   -2px -2px 1px #000,
                   -2px 2px 1px #000,
                    2px -2px 1px #000;

}

body
    {
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    .header img {
      float: left;
      width: 200px;
      height: 100px;
      background: #555;
    }

    .header h1 {
      position: relative;
      top: 18px;
      left: 10px;
    }

    input[type=text] {
        padding:5px; 
        border:2px solid #ccc; 
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    input[type=text]:focus {
        border-color:#333;
    }

    input[type=submit] {
        padding:5px 15px; 
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }

    div {
        height: 200px;
        width: 400px;
        

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
        text-align:center;
    }

    select { border: 3px solid #CCC }

    

  /* http://self-inspiration.com/bundles/selfinspiration/article_pictures/71.jpg*/



