
<br></br>
<div>
<h1><font size="7">RESTful App</font></h1>

<form action="/albums" method="post">
  
  <p><font size="6"><label for="name">Name:</label></font></label>
  <input type="text" name="name"></p>


  <font size="6"><label for="artist">Select an artist:</label></font>
    <select name="artist_id">
     
      <% @artists.each do |artist|  %>
        <option value=<%=artist.id %> > <%= artist.name %> </option>
      <% end %>
    </select>
  
  <p><font size="6"><input type='submit' value="Add"></font></p>
</form>
</div>

